<mat-toolbar color="primary">
  BOVESPA Fundamental Data Analysis
  <a href="https://github.com/daniloaleixo/fundamentalAnalysisHistoricalDataClient">
    <img style="width: 30px; padding: 20px; padding-top: 25px; filter: brightness(0) invert(1);"
      src="../assets/github-logo.png" alt="">
  </a>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<router-outlet></router-outlet>

<!-- <a mat-tab-link *ngFor="let link of links"
(click)="activeLink = link"
[active]="activeLink == link"> {{link}} </a>
<a mat-tab-link disabled>Disabled Link</a> -->
<!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Análise Histórica"> -->


<!-- </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->