<mat-toolbar color="primary">BOVESPA Fundamental Data Analysis</mat-toolbar>

<div class="container">

  <app-chips placeholder="Choose the stock..." [autocompleteValues]="stockCodes" [arrayValues]="sampleStocks"
    (arrayValuesStream)="addStock($event)"></app-chips>

  <app-chips placeholder="Choose the property..." [autocompleteValues]="allProperties" [arrayValues]="sampleProperty"
    (arrayValuesStream)="addProperty($event)"></app-chips>



  <!-- Chart -->
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>